models/* filter=lfs diff=lfs merge=lfs -text
renders/material_tests filter=lfs diff=lfs merge=lfs -text
renders/rt-car2.png filter=lfs diff=lfs merge=lfs -text
renders/rt-dragon.png filter=lfs diff=lfs merge=lfs -text
